body{
    background-color: rgb(84, 84, 84);
}

#super-container{
    display: flex;
    justify-content: center;
    gap: 55px;
}

#left-menu{
    display: flex;
    flex-direction: column;
    align-items: right;
    width: 150px;
    justify-content: center;
    gap: 39px;
}



#left-menu > *, #newBoard{
    padding: 10px 15px 10px 15px;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: rgb(255, 254, 217);
    background-color: gray; 
    border-radius: 20px;
    border: 2px solid black;
    
}

#left-menu > .draw-active, #left-menu > .grid-active {
    color: white;
    background-color: black;
}



#left-menu > *:hover, #newBoard:hover{
    background-color: darkgray;
    color: black;
}



h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 254, 217);
}

#container {
    width: 600px;
    height: 600px;
    background-color: white;
}

button {
    margin-bottom: 15px;
}

.row {
    display: flex; 
}

.item {
   
    box-sizing: border-box;
    border: 1px solid lightgray;
}
