body{
    background-color: gray;
}
#container {
    border: 1px black solid;
    width: 960px;
    background-color: white;
}

button {
    margin-bottom: 15px;
}

.row {
    display: flex;
}

.item {
    height: 20px;
    width: 100%;
    border: 1px solid black;
}
