body{
    background-color: gray;
}
#container {
    border: 1px black solid;
    width: 600px;
    height: 600px;
    background-color: white;
}

button {
    margin-bottom: 15px;
}

.row {
    display: flex; 
}

.item {
    height: 6px; /*will change*/
    width: 10px; /*will change*/
    box-sizing: border-box;
    border: 1px solid lightgray;
}
